

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 25% 0px 25%;
}

.container {
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    align-items: center;
}